<h1>Welcome to Oren's Deloitte-Open Legacy Project </h1>
<br>
<p>
  In this angular demo, you can create, view, update and delete customers from a Java(Spring-Boot) back-end.
</p>
<br>
<h4>
  Instructions:
</h4>
<p>
  Use the navbar to navigate between the different routes in the project :)
</p>
<p>
  In the Customers tab, you can view all currently existing Customers, delete them, or follow the "Update" path to navigate
  to the Customer Form.
</p>
<p>
  In the New Customer tab, you can create a new Customer, or update an existing one if you've arrived through an "Update" link.
</p>
<p>
  *Note that the only validation assigned in order to create a new customer, is that no field is empty.
</p>
<br>
<h5>
  Developer Details:
</h5>
<p>
  Oren Carmel, Tel Aviv
</p>
<p>
  orenkfu@gmail.com | 0545339782
</p>
<br>
<p>
  <a href="mailto:orenkfu@gmail.com">Contact</a>
</p>

<p>
  <a href="http://localhost:8080/swagger-ui.html">Swagger UI</a>
</p>